body {
  background: #ffffff;
}
.portfolio {
  padding: 40px 0px;
  text-align: center;
}

.navbar-nav li a {
	line-height: 37px;
}

.img {
  vertical-align:"bottom"

}

.subtitle {
	text-align: left;
  padding-left: 15px;
}

.title {
	text-align: left;
  padding-left: 15px;
  padding-bottom: 5px;
}
hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #000; /* old IE */
    background-color: #000; /* Modern Browsers */
}

.navbar-static-bottom {
	padding-bottom: 60px;
	margin-bottom: -40px;
}

.about {
  text-align: left;
  padding-left: 15px;
  font-size: 18px;

}
a:hover{
  text-decoration: none;
}
a{
  color: #000;
}

#footer{
  padding-bottom: 0px;
}